<template>
  <div class="flex bg-yellow-600 text-white px-2 py-1 w-24 rounded-2xl">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
    </svg>
    <span class="text-lg font-bold">Filter</span>
  </div>
</template>

<script>
import {Options,Vue} from 'vue-class-component'

@Options({
  components: {
  }
})
export default class FilterAtom extends Vue{

}
</script>

<style>

</style>