<template>
  <ul>
      <li>Color</li>
      <li>Type</li>
  </ul>
</template>

<script>
import {Options,Vue} from 'vue-class-component'

@Options({
  components: {
  }
})
export default class FilterList extends Vue{

}
</script>
