<template>
  <div class="flex space-x-3">
      <!-- List Icon-->
      <svg xmlns="http://www.w3.org/2000/svg" :class="Class" @click="$emit('changeIntoList')" viewBox="0 0 20 20" fill="currentColor">
        <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
      </svg>
      <!-- Grid Icon-->
      <svg xmlns="http://www.w3.org/2000/svg" :class="Class" @click="$emit('changeIntoColumn')" viewBox="0 0 20 20" fill="currentColor">
        <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
      </svg>
  </div>
</template>

<script lang='ts'>

import {Options,Vue} from 'vue-class-component'
import {Prop} from 'vue-property-decorator'



@Options({
  components: {
  }
})
export default class FilterLayout extends Vue{

    @Prop({default:""})
        readonly aditionalClass: string

    @Prop({default:""})
        readonly layoutView: string

    defaultClass=`cursor-pointer h-9 w-9 text-yellow-600 border rounded-lg p-1`

    //Computed
    get Class(){
        return this.defaultClass +' '+ this.aditionalClass
    }

}
</script>
