<template>
  <div class=" flex space-x-3 border border-yellow-500 py-1 px-2 rounded-lg">
      <svg xmlns="http://www.w3.org/2000/svg" class="relative top-0.5 text-gray-300 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
      <input class="focus:outline-none" type="text" placeholder="Search a pokemon..."/>
  </div>
</template>

<script>
import {Vue} from 'vue-class-component'

export default class Searchbar extends Vue{

}
</script>

<style>

</style>