<template>
  <nav>
     <div class="flex justify-between">
         <FilterAtom/>
         <Searchbar/>
     </div>
  </nav>
</template>

<script>

import {Vue,Options} from 'vue-class-component'

//Components
import FilterAtom from '../atom/FilterAtom.vue'
import Searchbar from '../molecule/Searchbar.vue'
@Options({
    components: {
        FilterAtom,
        Searchbar
    }
})
export default class Navbar extends Vue{

}
</script>

<style>

</style>