<template>
  <div class="p-6 space-y-10">
    <Navbar/>
    <div class="flex space-x-3">
      <span>Modify the view :</span>
      <FilterLayout aditionalClass="relative bottom-1"
      @changeIntoList="changeIntoList"
      @changeIntoColumn="changeIntoColumn"
      />
    </div>

    <PokemonList :layoutView="layoutView"
    />
  </div>
</template>

<script lang="ts">

import {Options,Vue} from 'vue-class-component'
import Navbar from './components/organisme/Navbar.vue'
import PokemonList from './components/molecule/Pokemon/PokemonList.vue'
import FilterLayout from './components/molecule/FilterLayout.vue'


@Options({
  components:{
    Navbar,
    PokemonList,
    FilterLayout
  }
})

export default class App extends Vue {
  public message = "Hello"
  public layoutView="flex flex-col items-center space-y-4"
  public isGridLayout = false

  //1) Display List
  changeIntoList(){
    return this.layoutView = "flex flex-col items-center space-y-4"
  }
  //2) Diplay in column
  changeIntoColumn(){
    return this.layoutView = "grid gap-4 justify-items-center md:grid-cols-2 lg:grid-cols-3"
  }

}
</script>

<style>

</style>
