<template>
  <article class="flex h-36 space-x-5 relative border rounded-md p-2 w-80">
      <img class="h-full" :src="getImage(pokemonData)" />
      <div class="flex flex-col h-full justify-evenly text-lg">
          <span>Nom: {{pokemonData.name}}</span>
          <span>Type: {{pokemonData.data.types[0].type.name}}</span>

          <button class="text-yellow-600 hover:underline ">Add to versus</button>
      </div>

  </article>
</template>

<script lang='ts'>

import {PokemonType} from '../../types/pokemon'
import {Vue,Options} from 'vue-class-component'

import { Prop } from 'vue-property-decorator'


export default class PokemonCard extends Vue {

  @Prop({default:""})
  readonly pokemonData: PokemonType

  getImage(pokemon){
    return `/assets/images/${pokemon.data.id}.png`
  }

}
</script>

<style>

</style>