<template>
<section :class="layoutView" >
<div v-for="pokemon in pokemonsData" :key="pokemon.name">
    <PokemonCard :pokemonData="pokemon"/>
</div>
</section>


</template>

<script lang='ts'>
import {Vue,Options} from 'vue-class-component'
import PokemonCard from '../Pokemon/PokemonCard.vue'
import {Prop} from 'vue-property-decorator'


@Options({
    components: {
        PokemonCard
    }
})

export default class PokemonList extends Vue {
    //Props
    @Prop({default:""})
        layoutView: string

    //Init
    async created(){
        const allPokemons = await this.getPokemons()
        const getSinglePokemon = this.getSinglePokemon

        for(let i=0; i < allPokemons.length; i++){
            allPokemons[i].data = await getSinglePokemon(allPokemons[i].name)
        }

        this.pokemonsData = allPokemons
        return
    }

    //Methods
    public pokemonsData = []

    public async getPokemons(limit="151"): Promise<any>{
        try {
            const pokemons = await fetch(`${process.env.VUE_APP_API_BASEURL}/pokemon?limit=${limit}`)
            const response = await pokemons.json()
            return response.results
        } catch(err) {
            console.log(err)
            return []
        }
    }

    public async getSinglePokemon(pokemonId:string): Promise<any[]>{
       try{
           const pokemon = await fetch(`${process.env.VUE_APP_API_BASEURL}/pokemon/${pokemonId}`)
           const response = await pokemon.json()
           return response
       }catch(err){
        console.log(err)
        return []
       }
    }

}
</script>

<style>

</style>